<div class="container section">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">Facebook</span>
          {{#if facebook}}
          <p>Name: {{facebook.name}}</p>
          <p>ID: {{facebook.id}}</p>
          {{/if}}
          <!-- <div class="row">                
            <div class="col s11">
              <p>Johannes Rieke</p>
              <p>San Diego, Male, 22 years old</p>
            </div>
            <div class="col s1">
              <img src="images/Profilbild.jpg" alt="You" class="circle responsive-img right">
            </div>
          </div> -->
        </div>
        {{#unless facebook}}
        <div class="card-action">        
          <a href="/auth/facebook" class="light-green-text">Connect to Facebook</a>        
        </div>
        {{/unless}}
      </div>
      
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">Instagram</span>
          {{#if instagram}}
          <p>Username: {{instagram.name}}</p>
          <!-- <p>Name: {{instagram.displayName}}</p> -->
          <p>ID: {{instagram.id}}</p>
          {{/if}}
        </div>
        {{#unless instagram}}
        <div class="card-action">
          <a href="/auth/instagram" class="light-green-text">Connect to Instagram</a>        
        </div>
        {{/unless}}
      </div>
      
    </div>
  </div>

  {{#if facebook}}
  <a href="/logout" class="btn waves-effect red white-text right right">Disconnect All</a>
  {{else}}
    {{#if instagram}}
    <a href="/logout" class="btn waves-effect red white-text right right">Disconnect All</a>
    {{else}}
    <a href="/logout" class="btn disabled right">Disconnect All</a>
    {{/if}}
  {{/if}}

</div>  
