<div style="padding: 0.5%; padding-top: 0.7%">
  <!-- grid of responsive square images with centered text, adapted from http://stackoverflow.com/questions/20456694/grid-of-responsive-squares -->
  {{#each photos}}
    <div class="square" style="background-image: url('{{image_url}}')">
      <div class="overlay"></div>
        <div class="content">
          <div class="table">
            <div class="table-cell">            
              <p>{{from}} on {{month}}/{{day}}/{{year}}</p>
              {{#if caption}}
              <h5>{{caption}}</h5>
              {{/if}}
              <p><a href="{{link}}">Watch on {{provider}}</a></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</div>
  