{{> colored_navbar}}

<div>
  <!-- Grid of photos, see 'grid.css' -->
  {{#each photos}}
    <div class="square" style="background-image: url('{{image_url}}')">
      <div class="overlay"></div>
        <div class="content">
          <div class="table">
            <div class="table-cell">            
              <p>{{from}} on {{month}}/{{day}}/{{year}}</p>
              {{#if caption}}
              <h5>{{caption}}</h5>
              {{/if}}
              <p><a href="{{link}}">Watch on {{provider}}</a></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</div>
  